<script src="{{ 'events-carousel.js' | asset_url }}" defer></script>
{{ 'events-carousel.css' | asset_url |  stylesheet_tag  }}


<section class="events-carousel">
<div class="carousel-wrapper">

</div>
</section>

{% schema %}
{
  "name": "Events Filters",
  "settings": []
}
{% endschema %}
